/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    font: 18px/38px 'Poppins', sans-serif;
    background-color: #ddd;
}

h1 {
    font-size: 65px;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 2px 2px white;
    margin: 50px auto;
}

.container {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 2px .5px rgba(0, 0, 0, .3);
}

.gallery li, 
.gallery li img, 
.gallery li span {
    border-radius: 50%;
}

.gallery li{
    width: 120px;
    height: 120px;
    /* overflow: hidden; */
    border: 4px solid #777;
    float: left;
    margin-right: 28px;
    margin-left: 40px;
    position: relative;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200, 200, 200, .5);
    text-align: center;
    line-height: 120px;
    position: absolute;
    top: 0;
    color: whitesmoke;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    transform: scale(.3);
    transition: .3s linear;
}

.gallery li a:hover span {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.clear {
    clear: both;
}